[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
tqdm = ">=4.2"
pandas = ">=0.24"
pandas-datareader = ">=0.8.1"
numpy = ">=1.16"
scikit-learn = ">=0.20"
backtrader = ">=1.9"
matplotlib = ">=3,<=3.2.2"
jupyter = "*"
statsmodels = ">=0.11"
requests-cache = ">=0.5.2"
fbprophet = ">=0.7.1"
seaborn = "*"
ccxt = "*"

[requires]
python_version = "3.8"
